@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        background-color:greenyellow;
    }
    .logovanje {
        border: 4px solid black;
        background-color: white;
        width: 80px;
        float: right;
        color: black;
    }
    .registracija {
        border: 4px solid black;
        background-color: white;
        width: 80px;
        float: right;
        color: black;
    }
</style>
<body>
    <div class="logovanje">
        <a href="/Korisnik/login"><font color="black">Logovanje</font></a>
    </div>
    <div class="registracija">
        <a href="/Korisnik/AddOrEdit"><font color="black">Registracija</font></a>
    </div>
    <div class="jumbotron">
        <h1>PRODAVNICA ZDRAVE HRANE S</h1>
    </div>
    <div class="jumbotron">
        <p class="lead">Dobro dosli u prodavnicu zdrave hrane S , prepoznatljive po proverenom i najkvalitetnijem asortimanu sertifikovanih organskih namirnica domace i strane proizvodnje</p>
    </div>

    <div class="col-lg-1">
        <table>
            <tr>
                <td align="center">
                    POSNO
                </td>
                <td align="center">
                    MRSNO
                </td>
            </tr>
            <tr>
                <td>
                    <p><a href="/Proizvod/Lista"><img src="~/Slike/1.jpg" style="width:550px; height:500px;" /></a></p>
                </td>
                <td>
                    <p><a href="/Proizvod/Lista2"><img src="~/Slike/2.jpg" style="width:550px; height:500px;" /></a></p>
                </td>
            </tr>
        </table>
    </div>
</body>

