@model IEnumerable<WebApplication15.Models.ProdavnicaProizvodi>
@using (Html.BeginForm("PorukaAdminu", "Proizvod", FormMethod.Post))
{
    <style>
        body {
            background-color: greenyellow;
        }

        .odjava {
            border: 4px solid black;
            background-color: white;
            width: 80px;
            float: right;
            color: black;
        }
    </style>
    <body>
        <div class="odjava">
            <a href="/Korisnik/logOut"><font color="black">Odjavi se</font></a>
        </div>
        <div class="jumbotron">
            <p>U poruci obavezno upisati ime , prezime i email adresu </p>

            <textarea rows="4" cols="50" name="text" id="txtText">
</textarea>
            <div>
                <input type="submit" value="Posalji poruku" />
            </div><br />
            <div>
                @Html.ActionLink("Vrati se ", "Index","Proizvod")
            </div>
        </div>
    </body>

}

